* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.container {
  padding: 0 5vw 0 5vw;
}

.nav-container {
  height: 3rem;
  display: flex;
  background-color: aliceblue;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  overflow: hidden;
}

.menu-left img {
  height: 4rem;
}
.menu-left ul {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
}
.menu-left {
  display: flex;
  align-items: center;
}
.menu-left li a {
  text-decoration: none;
  color: black;
}

.menu-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.menu-right a {
  color: black;
}

.bg {
  background: url(./images/bg.avif) center center/cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 7rem;
}

.bg-content {
  height: 300px;
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: fle;
  padding: 0 1.5rem;
  gap: 2rem;
}

.bg .bg-content h2 {
  text-align: left;
  font-size: 35px;
}

button {
  all: unset;
  background-color: rgb(27, 27, 143);
  color: white;
  padding: 10px;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  font-size: 1.5rem;

  font-size: 1rem;
}
.logo-section a {
  color: #0067b8;
}
.logo-section i {
  color: black;
  font-size: 2rem;
}

.logo-section {
  justify-content: center;
  display: flex;
  flex-direction: column;

  gap: 10px;
  align-items: center;
  color: #0067b8;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}

.card-image img {
  width: 23.8rem;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.card-info h2 {
  font-size: 25px;
}
.card-info p {
  font-size: 20px;
}

.card-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-link a {
  font-size: 20px !important;
  all: unset;
  color: rgb(67, 67, 196);
  transition: all 0.1s ease;
  cursor: pointer;
}
.card-link i {
  font-size: 15px;
  color: rgb(67, 67, 196);
}
.card-link a:hover {
  text-decoration: underline;
  margin-right: 15px;
}

.bg-animation {
  background: url(./images/gldn-XGP-Highlight-Ultimate-1PP-Evergreen-Keyart-FY22_VP5-1596x600\ \(2\).jpeg) center center/cover;

  height: 60vh;
  display: flex;
  margin: 5vh 10vw;
}
.bg-animation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 30vw;
  gap: 1rem;
  margin-left: 1rem;
}
.bg-animation-info a {
  display: block;
  /* width: 100px; */
  background-color: #0067b8;
  color: white;
  padding: 1em;
  text-decoration: none;
  width: fit-content;
}

.bg-animation2 {
  background: url(./images/Highlight-DE-DE-MIcrosoft-Virtual-Training-Days_VP5-1596x600.avif)
    center center/cover;
  height: 60vh;
  display: flex;
  margin: 5vh 10vw;
  padding: 5rem;
}

.icons-footer {
  display: flex;

  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.icons-left {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  padding: 10px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: #ffffff;
}

.footer-item {
  background-color: #ffffff;
  padding: 10px;
}

.card-link2 {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 2px solid;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.card-link2 i {
  font-size: 15px;
}
.card-link2 i:hover {
  color: #000;
}
.card-link2 a:hover {
  text-decoration: underline;
  transform: translateX();
  background-color: gray;
  color: #000;
}
.footer {
  background-color: #f0ebeb;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.footer-list {
  line-height: 2rem;
  list-style: none;
  max-width: fit-content;
}

.footer-list ul {
  list-style: none;
  display: flex;
}

.footer-list a {
  line-height: 1rem;
  text-decoration: none;
  color: #000;
  font-family: Arial;
  font-size: 14px;
}

.end {
  display: flex;
  gap: 15px;
  padding: 2px;
  margin: 20px;
}

.main-footer {
  display: flex;
  flex-direction: column;
}

